<h1>Projects</h1>
<%= image_tag "kitchen.jpg" %>

  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
        
      <br>
      <br>
        <%= project.created_at%>
    <% end %>
  </ul>

  <hr>
   <%= link_to "New Project", new_project_path %>
