@import "bootstrap-sprockets";
@import "bootstrap";

.app {
  text-align: center;
  background-color: #f6f6ef;
  width: 70%;
  margin-left: 15%;
}

.testr {
  width: 100%;
}

.project_image {
  width: 500px;
  height: 450px;
}

.online a {
  color: grey;
  text-decoration: none;
}

.online a:hover {
  color: white;
  text-decoration: none;
}

.online p {
  color: white;
}

img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
