@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: 18px;
}

.main {
  text-align: center;
  background-color: #f6f6ef;
}

.img_thumb {
  text-align: center;
  width: 20%;
  height: 20%;
  margin-left: 350px;
  margin-top: 15%;
}

.app {
  text-align: center;
  background-color: #f6f6ef;
  width: 70%;
  margin-left: 15%;
}

.soft {
  height: 100px;
  width: 100px;
}

.front_img {
  background: url(paralax.jpeg)no-repeat center center fixed;
  text-align: center;
  height: 850px;
  background-size: cover;
}

.img-circle img-responsive {
  text-align: center;
}

.project_image {
  width: 500px;
  height: 450px;
}

.project_icon {
  height: 150px;
  width: 220px;
  border-width: 2px;
}

.online a {
  color: grey;
  text-decoration: none;
}

.online a:hover {
  color: white;
  text-decoration: none;
}

.online p {
  color: white;
}
// img {
//   object-fit: cover;
//   width: 100%;
//   height: 400px;
// }

.about_div {
  text-align: center;
  color: #fff;
  width: 60%;
  margin-top: -2%;
  margin-left: 290px;
}

.webapps {
  background: image-url('paralax1.jpeg')no-repeat center center fixed;
  text-align: center;
  height: 150px;
  background-size: cover;
}
//FOOTER

.cont {
  width: 100%;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 35px 30px;
  margin-top: 10px;
}

.footer-distributed .footer-center,
.footer-distributed .footer-left,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left {
  width: 30%;
}
/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}
/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}
/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 35px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-center,
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

#main {
  min-height: 100vh;
}

.paul-img {
  height: 150px;
  width: 150px;
}

li {
  list-style-type: none;
}
